body {
  background: black;
}

.cv-bg {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  &:after {
    content: '';
    position: fixed;
    background-color: #000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
  }
}

span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
  &:before, &:after {
    content: "";
    position: absolute;
  }
  &:after {
    color: white;
    font-size: inherit;
    content: "⌄";
    padding: 0.5em;
    pointer-events: none;
    right: -0.2em; 
    top: -45%;
    font-size: 200%;
    vertical-align: middle;
  }
}
select, input {
  margin-bottom: 0.5em;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 100%;
  // Sass specific RGBA mixin
  background: rgba(white,0.1); 
  border: 1px solid white;
  font-size: 100%;
  padding: 0.5em;
  padding-right: 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {outline:0;}
  &::-webkit-input-placeholder {
    color: #FFF;
  }
  &::-moz-placeholder {
    color: #FFF;
  }
  &:-ms-input-placeholder {
    color: #FFF;
  }
  &:-moz-placeholder {
    color: #FFF;
  }
}
.episodes-list {
  margin-top: 4em !important;
}

.content {
  z-index: 1;
  height: 100%;
}

ul, li {
  padding: 0;
  display: block;
  margin: 0 auto;
}

.media {
  padding: 0.5em;
  background-color: rgba(0,0,0,0.4);
  margin-bottom: 0.5em;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0,0,0,1);
  }
}

img.media-object {
    width: 100%;
}

.media-body {
  margin-top: 0.5em;
  font-weight: bold;
}
.episode-detail {
  padding: 2em;
}

@media only screen and (min-width: 45em) {
  .episode-detail {
    position: fixed;
    height: 100%;
    width: 70%;
    padding: 0;
  }
  .details {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}
